<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--     <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
        <script th:src="@{/webjars/popper.js/2.0.2/umd/popper.min.js}"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>-->
    <!--    <script th:src="@{/resources/js/scripts.js}"></script>-->
    <title>Project Inventory </title>
<!--    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/static/css/noFound.css}"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/resources/font_awesome/css/all.min.css}"/>-->

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/webjars/popper.js/2.0.2/umd/popper.min.js}"></script>
		

    <!-- Favicon icon -->
    <link rel="icon" th:href="@{/resources/assets/img/ICTA.jpg}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" th:href="@{/resources/assets/pages/waves/css/waves.min.css}" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/css/bootstrap/css/bootstrap.min.css}">
    <!-- waves.css -->
    <link rel="stylesheet" th:href="@{/resources/assets/pages/waves/css/waves.min.css}" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/icon/themify-icons/themify-icons.css}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/icon/icofont/css/icofont.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/icon/font-awesome/css/font-awesome.min.css}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/css/jquery.mCustomScrollbar.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<script type="text/javascript">
$(document).ready(function () {

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'

    });

    // Invoke the corresponding URL to update the dynamic fields section using Ajax
    $('.dynamic-update-rows').on('click', 'button[data-dynamic-update-rows-url]', function () {
    	//event event.preventDefault();
        let url = $(this).data('dynamic-update-rows-url');

        // adding the row index, needed when deleting a dynamic row
        let formData = $('form').serializeArray();
        console.log(formData);
        let param = {};
        param["name"] = $(this).attr('name');
        param["value"] = $(this).val();
        formData.push(param);

        // updating the dynamic section
        $('#dynamicTableContents').load(url, formData);
    });

    // autodismiss alerts
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
});
</script>

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                        <i class="ti-menu"></i>
                    </a>
                    <div class="mobile-search waves-effect waves-light">
                        <div class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter Keyword">
                                    <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <img class="img-fluid" th:src="@{/resources/img/ICTA_banner.png}" style="width: 120px"/>
                    </a>
                    <a class="mobile-options waves-effect waves-light">
                        <i class="ti-more"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li>
                            <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                        </li>

                    </ul>
                    <ul class="nav-right">

                        <li class="user-profile header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <!-- <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image"> -->
                                <span><i class="ti-user"></i></span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">

                                <li class="waves-effect waves-light">
                                    <a th:href="@{/logout}">
                                        <i class="ti-layout-sidebar-left"></i> Logout
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <div th:replace="fragments/navbar :: navbar"></div>

                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Improvements to Existing Solution</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">

                                <!-- Page body start -->
                                <div class="page-body">


                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div class="card">

                                                <div class="card-block">
                                                    <h4 class="sub-title">Ministry Name</h4>
                                                    <form autocomplete="off" th:action="${isAdd} ? @{/itUnit/add} : @{/itUnit/{id}/edit (id=${itUnitDto.id})}" th:object="${itUnitDto}" method="post" name="exprojectForm" id="exprojectForm" role="form" enctype="utf8">

                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Project / Solution Name<span class="required-star">*</span></label>
                                                             <div class="col-sm-10">
                                                                <input type="text" minlength="1" maxlength="100" class="form-control form-control-sm" id="solutionName" required name="nameOfDirector" th:field="*{nameOfDirector}" placeholder="Solution Name" th:errorclass="is-invalid">
                                                            </div>
                                                       </div>
                              
                                                       <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Project / Solution Name<span class="required-star">*</span></label>
                                                             <div class="col-sm-10">
                                                               <input type="text" minlength="1" maxlength="100" class="form-control form-control-sm" id="solutionName" required name="title" th:field="*{title}" placeholder="Solution Name" th:errorclass="is-invalid">
                                                            </div>
                                                       </div>
                                                       <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Project / Solution Name<span class="required-star">*</span></label>
                                                             <div class="col-sm-10">
                                                                <input type="text" minlength="1" maxlength="100" class="form-control form-control-sm" id="solutionName" required name="address" th:field="*{address}" placeholder="Solution Name" th:errorclass="is-invalid">
                                                            </div>
                                                       </div>
                                                       <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Project / Solution Name<span class="required-star">*</span></label>
                                                             <div class="col-sm-10">
                                                                 <input type="text" minlength="1" maxlength="100" class="form-control form-control-sm" id="solutionName" required name="email" th:field="*{email}" placeholder="Solution Name" th:errorclass="is-invalid">
                                                            </div>
                                                       </div>
                                                       <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Project / Solution Name<span class="required-star">*</span></label>
                                                             <div class="col-sm-10">
                                                                 <input type="text" minlength="1" maxlength="100" class="form-control form-control-sm" id="solutionName" required name="telNo" th:field="*{telNo}" placeholder="Solution Name" th:errorclass="is-invalid">
                                                            </div>
                                                       </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Project / Solution Name<span class="required-star">*</span></label>
                                                             <div class="col-sm-10">
                                                                 <input type="text" minlength="1" maxlength="100" class="form-control form-control-sm" id="solutionName" required name="staffStrength" th:field="*{staffStrength}" placeholder="Solution Name" th:errorclass="is-invalid">
                                                            </div>
                                                       </div>
                                                       
														<div th:text="${itUnitDto}"></div>
                                                        <div class="field_wrapper">
                                                            <div>
<!--                                                                <input type="text" class="form-control form-control-sm" placeholder="Solution Name"/>-->
<!--                                                                <input type="text" class="form-control form-control-sm" placeholder="Planned/Approved Budget/Estimate"/>-->

                                                                <div class="card" style="width: 75%">
                                                                    <div class="card-header dynamic-update-rows">
                                                                        <h4 class="sub-title">Add Sub Procurements</h4>
                                                                        <div class="card-header-right">
                                                                            <div th:if="${isAdmin}">Add New
                                                                            <button type="button" name="addTeamClassification" class="add_button" data-dynamic-update-rows-url="/itUnit/addItTeamClassification">
                                                                                <i class="ti-plus" style="color: #7fabf6"></i>
                                                                            </button>
                                                                            </div>
                                                                    </div>
                                                                    </div>
                                                                    <div class="card-block">
                                                                        <table class="table dynamic-update-rows" style="width: 100%">

                                                                            <tbody id="dynamicTableContents">
                                                                            <tr th:fragment="itTeamClassificationDynamic" th:each="teamClassification,rowStat : ${itUnitDto.itTeamClassificationList}">
                                                                                <!--<td th:text="${rowStat.count}">1</td>-->


                                                                                <td>#<span th:text="${teamClassification}">1</span>
                                                                                    <div class="form-group form-default">
                                                                                        <input type="hidden" th:field="${itUnitDto.itTeamClassificationList[__${rowStat.index}__].id}">
                                                                                    </div>
                                                                                    <div class="form-group form-default">
                                                                                        <input type="hidden" th:field="${itUnitDto.itTeamClassificationList[__${rowStat.index}__].staffCategory}">
                                                                                    </div>

                                                                                    <div class="remove_button"><span>
                                                                                        <div th:if="${isAdmin}">
                                                                                        <button type="button" name="removeDynamicRow"
                                                                                                th:value="${rowStat.index}" class="btn waves-effect waves-light btn-danger btn-outline-danger"
                                                                                                data-dynamic-update-rows-url="/itUnit/removeTeamClassification">
                                                                                           <i class="ti-close"></i>Remove
                                                                                        </button>
                                                                                        </div>
                                                                                        </span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>


                                                        <div th:if="${isAdmin}">
                                                        <div class="row m-t-30">
                                                            <div class="col-md-12">
                                                                <button th:text="Submit"  type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                            </div>
                                                        </div>
                                                        </div>

                                                        <div th:if="${isAdmin}">
                                                            <div class="row m-t-30">
                                                                <div class="col-md-12">
                                                                    <button type="button"
                                                                            class="btn btn-primary waves-effect waves-light"
                                                                            id="back">
                                                                        Back
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script type="text/javascript" th:src="@{/resources/assets/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/js/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/js/popper.js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/js/bootstrap/js/bootstrap.min.js}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript"
        th:src="@{/resources/assets/js/jquery-slimscroll/jquery.slimscroll.js}"></script>
<!-- waves js -->
<script th:src="@{/resources/assets/pages/waves/js/waves.min.js}"></script>

<!-- modernizr js -->
<script type="text/javascript" th:src="@{/resources/assets/js/SmoothScroll.js}"></script>
<script th:src="@{/resources/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- Custom js -->
<script th:src="@{/resources/assets/js/pcoded.min.js}"></script>
<script th:src="@{/resources/assets/js/vertical-layout.min.js}"></script>
<script th:src="@{/resources/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/js/script.js}"></script>

<script type="text/javascript">
$(document).ready(function (){

       $(document).on('click', '#back', function() {
    parent.history.back();
    //$.mobile.back();
    });

    });
</script>

</body>
</html>
